.about-container {
  height: 344px;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  color: #445161
}

.about_title {
  font-size: 30px;
  line-height: 36px;
  color: #445161
}

.about_title-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.about_title-logo {
  width: 430px;
  height: 245px;
  background-color: #445161;
}