.header-container {
  width: 100%;
  height: 323px;
  background-color: #445162;
}
.product_title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.product_title-text {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}

.product_title-logo {
  width: 469px;
  height: 214px;
  background-color: #ffffff;
}