.buynow-container {
  width: 100%;
  height: 656px;
}

.buynow_title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.standart_block {
  height: 100%;
  background-color: #435161;
  border-radius: 5px;
  border: 3px solid #435161;
}

.standart_block-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.standart_block-coast {
  background-color: #ffffff;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
}

.standart_block-text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

input[type=button] {
  width: 90%;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  border: 1px solid;
  border-radius: 10px;
}