.contact-container {
  width: 100%;
  height: 485px;
  background-color: #445162;
}

.contact_title {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.person-contact {
  font-size: 16px;
  line-height: 24px;
}

.btn {
  margin-left: 35%;
}