.diginityplus-container {
  width: 100%;
  height: 418px;
  background-color: #f5f5f5;
}

.diginityplus_title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.fa-plus-square {
  font-size: 32px;
}