@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
  url('/assets/fonts/Roboto-Regular.ttf') format('truetype'),
  url('/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ArialMT';
  src: url('/assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ArialMT.woff') format('woff'),
  url('/assets/fonts/ArialMT.ttf') format('truetype'),
  url('/assets/fonts/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ArialMT-Medium';
  src: url('/assets/fonts/ArialMT-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ArialMT-Medium.woff') format('woff'),
  url('/assets/fonts/ArialMT-Medium.ttf')  format('truetype'),
  url('/assets/fonts/ArialMT-Medium.svg#ArialMT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Arial-ItalicMT';
  src: url('/assets/fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Arial-ItalicMT.otf')  format('opentype'),
  url('/assets/fonts/Arial-ItalicMT.woff') format('woff'),
  url('/assets/fonts/Arial-ItalicMT.ttf')  format('truetype'),
  url('/assets/fonts/Arial-ItalicMT.svg#Arial-ItalicMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

