.reviews-container {
  width: 100%;
  height: 426px;
  background-color: #f5f5f5;
}

.reviews_title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.scrinshots_block-avatar {
  width: 75px;
  height: 75px;
  background-color: #445161;
}

p {
  width: 0;
  height: 0;
  border: 13px solid transparent;
}

.left {
  border-right-color: #ebebeb;
  border-left: 0;
}

.message-text {
  font-family: 'Arial-ItalicMT';
  font-size: 14px;
  line-height: 18px;
  background-color: #ebebeb;
  border-radius: 5px;
  color: #333333;
}

.message-author {
  font-family: 'ArialMT-Medium';
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
}