.scrinshots-container {
  height: 491px;
  width: 100%;
}

.scrinshots_title {
  font-size: 30px;
  line-height: 30px;
  color: #445161;
}

.scrinshots_block-image {
  width: 200px;
  height: 150px;
  background-color: #445161;
}

.scrinshots_block-title {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}

.scrinshots_block-text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}